.header {
  background-color: #f4f4f4;
}
.title {
  font-size: 14px;
}
.content {
  margin-top: 16px;

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    p {
      margin-bottom: 0;
    }
  }

  &-amount {
    &-title {
    }

    &-form-inner-container {
      display: grid;
      gap: 24px;
    }
  }

  &-date,
  &-amount {
    &-title {
      margin-top: 24px;
      margin-bottom: 24px;
      text-align: justify;
    }
  }
}
