<mat-accordion>
	<mat-expansion-panel [expanded]="true">
		<mat-expansion-panel-header class="header">
			<mat-panel-title class="title">
				{{"responsible-gaming.deposit-limit-calculator.menu-title" | translate}}
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="content">
			<div class="content-title">
				{{ "responsible-gaming.deposit-limit-calculator.component.title" | translate}}
				<mat-icon [matTooltip]=informationalTooltip class="icon-display" aria-hidden="false"
					aria-label="Example home icon" [ngStyle]="{'color':'grey'}">
					info</mat-icon>
			</div>

			<!-- By date -->
			<mat-tab-group selectedIndex="0" (selectedIndexChange)="onIndexChange()">
				<mat-tab label="{{ 'responsible-gaming.deposit-limit-calculator.component.amount.header' | translate}}"
					class="content-amount">
					<div class="content-amount-title">
						{{ "responsible-gaming.deposit-limit-calculator.component.amount.title" | translate}}
					</div>
					<div class="content-amount-input">
						<form (ngSubmit)="onCalculate()" [formGroup]="formGroup" test-id="deposit-limit-calculator">
							<div class="content-amount-form-inner-container">
								<mat-form-field>
									<mat-label>{{ 'responsible-gaming.deposit-limit-calculator.component.amount.placeholder' |
										translate:currency
										}}
									</mat-label>
									<input color="primary" matInput formControlName="amount" type="tel" name="amount"
										test-id="deposit-limit-calculator-amount">
									<mat-error *ngIf="formGroup.controls.amount.invalid">{{getErrorMessage()}}</mat-error>
								</mat-form-field>
								<button type="submit" color="primary" mat-flat-button
									test-id="deposit-limit-calculator-submit-button">{{
									'responsible-gaming.deposit-limit-calculator.component.button.calculate' | translate }}</button>
							</div>
						</form>
					</div>

				</mat-tab>

				<!-- By Date -->
				<mat-tab label="{{ 'responsible-gaming.deposit-limit-calculator.component.date.header' | translate}}"
					class="content-date">
					<div class="content-date-title">
						{{ "responsible-gaming.deposit-limit-calculator.component.date.title" | translate}}
					</div>
					<!-- <div class="content-date-input">
						<form (ngSubmit)="onCalculate()" [formGroup]="formGroup" test-id="deposit-limit-calculator">
							<div class="content-date-form-inner-container">
								<mat-form-field>
									<mat-label>{{ 'responsible-gaming.deposit-limit-calculator.component.date.placeholder' |
										translate:currency
										}}
									</mat-label>
									<input color="primary" matInput formControlName="date" type="tel" name="date"
										test-id="deposit-limit-calculator-date">
								</mat-form-field>
								<button type="submit" color="primary" mat-flat-button
									test-id="deposit-limit-calculator-submit-button">{{
									'responsible-gaming.deposit-limit-calculator.component.button' | translate }}</button>
							</div>
						</form>
					</div> -->
				</mat-tab>
			</mat-tab-group>
		</div>
	</mat-expansion-panel>
</mat-accordion>