$orange: #ff6600;

.outer-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .inner-container {
    border: 1px solid red;
    width: 375px;
    height: 668px;
    .header {
      background-color: #f4f4f4;
    }
    .title {
      font-size: 14px;
    }
    .content {
      margin-top: 16px;

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        p {
          margin-bottom: 0;
        }
      }

      &-amount {
        &-title {
          margin-top: 24px;
          margin-bottom: 24px;
          text-align: center;
        }

        &-input {
          width: 100%;
          display: grid;
        }
      }

      &-date {
      }
    }
  }
}

::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
  }

  // .mat-tab-label {
  //   background: rgba(0, 0, 0, 0.121569);
  //   &[aria-selected="true"] {
  //     background-color: white;
  //     .mat-tab-label-content {
  //       color: $orange;
  //     }
  //   }
  // }
}

.mat-button {
  &.alternate {
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 15px;
}

.result-container {
  margin-top: 30px;
  text-align: center;
  &-header {
    font-size: 16px;
  }
  &-header,
  &-date {
    margin-bottom: 5px;
  }
  &-date,
  &-time {
    font-size: 20px;
  }
  &-date,
  &-time,
  &-amount {
    font-weight: 500;
  }
}
