<div class="outer-container">
	<div class="inner-container">
		<mat-accordion>
			<mat-expansion-panel [expanded]="true">
				<mat-expansion-panel-header class="header">
					<mat-panel-title class="title">
						Deposit Calculator
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="content">
					<div class="content-title">
						<p>When and how much can i deposit?</p>
						<mat-icon class="icon-display" aria-hidden="false" aria-label="Example home icon"
							[ngStyle]="{'color':'grey'}">
							info</mat-icon>
					</div>

					<!-- By Amount -->
					<mat-tab-group selectedIndex="1">
						<mat-tab label="By Amount" class="content-amount">
							<div *ngIf="!displayResult else result">
								<div class="content-amount-title">
									Enter the amount you want to deposit and we will show you the date when you will be able to do so.
								</div>

								<div class="content-amount-input">
									<mat-form-field appearance="fill">
										<mat-label>Amount (SEK)</mat-label>
										<input matInput>
									</mat-form-field>
								</div>

								<button mat-button color="primary" (click)="onCalculate(true)">Calculate</button>
							</div>

							<ng-template #result>
								<div class="result-container">
									<div class="result-container-header">
										Next time you can deposit
										<span class="result-container-amount">
											Kr
											{{ calculatedResult }}
											is:
										</span>
									</div>
									<div class="result-container-date">
										Monday, 13th April 2022
									</div>
									<div class="result-container-time">
										@ 07.30 PM
									</div>
									<div class="buttons">
										<button mat-button color="primary" (click)="onRemindMe()">
											<mat-icon>notifications</mat-icon> Remind Me
										</button>
										<button mat-button class="alternate" color="secondary" (click)="onCalculate(false)">Calculate
											Again</button>
									</div>
								</div>
							</ng-template>
						</mat-tab>

						<!-- By Date -->
						<mat-tab label="By Date" class="content-date">

							<div *ngIf="!displayResult else result">

								<div class="content-date-title">
									Select the date and time you want to make a deposit <br> and we will calculate the amount you can
									deposit
								</div>

								<div class="content-date-input">
									<mat-form-field>
										<input matInput type="datetime-local" placeholder="Date">
									</mat-form-field>
								</div>

								<button mat-button color="primary">Calculate</button>
							</div>

							<ng-template #result>
								<div class="result-container">
									<div class="result-container-header">
										Next time you can deposit
										<span class="result-container-amount">
											Kr
											{{ calculatedResult }}
											is:
										</span>
									</div>
									<div class="result-container-date">
										Monday, 13th April 2022
									</div>
									<div class="result-container-time">
										@ 07.30 PM
									</div>
									<div class="buttons">
										<button mat-button color="primary" (click)="onRemindMe()">
											<mat-icon>notifications</mat-icon> Remind Me
										</button>
										<button mat-button class="alternate" color="secondary" (click)="onCalculate(false)">Calculate
											Again</button>
									</div>
								</div>
							</ng-template>
						</mat-tab>
					</mat-tab-group>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>