.content {
  &-form-inner-container {
    display: grid;
    gap: 24px;

    .amount {
      display: grid;
    }

    .date-and-time {
      display: grid;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
      width: 100%;
      gap: 8px;
    }
  }
}
