<form (ngSubmit)="onCalculate()" [formGroup]="formGroup" test-id="testId">
	<div class="content-form-inner-container">
		<div class="amount" *ngIf="type === 'amount' else date">
			<mat-form-field>
				<mat-label>{{ 'responsible-gaming.deposit-limit-calculator.component.' + type + '.placeholder' |
					translate:currency
					}}
				</mat-label>
				<input autocomplete="off" color="primary" matInput [formControlName]="type" type="tel" [name]="type"
					test-id="'deposit-limit-calculator-form-amount'">
				<mat-error *ngIf="!formGroup.valid">{{getAmountErrors()}}</mat-error>
			</mat-form-field>
		</div>
		<ng-template #date>
			<div class="date-and-time">

				<mat-form-field>
					<mat-label>{{ 'responsible-gaming.deposit-limit-calculator.component.' + type + '.placeholder' | translate }}
					</mat-label>
					<input autocomplete="off" [formControlName]="type" matInput [matDatepickerFilter]="myFilter"
						(focus)="onFocused(dateToggle)" [matDatepicker]="picker">
					<mat-datepicker-toggle #dateToggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker touchUi=true #picker></mat-datepicker>
					<mat-error *ngIf="!formGroup.controls.date.valid">{{getDateErrors()}}</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label>{{ 'responsible-gaming.deposit-limit-calculator.component.time.placeholder' |
						translate
						}}
					</mat-label>
					<input autocomplete="off" color="primary" matInput formControlName="time" type="time" name="time"
						test-id="'deposit-limit-calculator-form-time'">
					<mat-error *ngIf="!formGroup.controls.time.valid">{{getTimeErrors()}}</mat-error>
				</mat-form-field>
			</div>
		</ng-template>

		<button type="submit" color="primary" mat-flat-button test-id="deposit-limit-calculator-submit-button">{{
			'responsible-gaming.deposit-limit-calculator.component.button.calculate' | translate
			}} </button>
	</div>
</form>